### A Data-Driven Analysis Of Retail Sales

### General Imports

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

In [46]:
# import chardet 
!pip install chardet

Requirement already satisfied: chardet in c:\users\tanvu\anaconda3\lib\site-packages (4.0.0)

In [47]:
# dectect encoding format of the file
import chardet
with open('sale_data.csv', 'rb') as f:
    result = chardet.detect(f.read())
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [48]:
# read data 
df= pd.read_csv('sale_data.csv', encoding='Windows-1252'
)
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [49]:
# print out the columns we have
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [50]:
# select distinct values of each column 
# to see if there is any column that only has 1 value -> doesnt provide any insight for further analysis 
distinct_value= df.apply(lambda col: col.unique())
print(distinct_value)

Row ID           [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
Order ID         [CA-2016-152156, CA-2016-138688, US-2015-10896...
Order Date       [11/8/2016, 6/12/2016, 10/11/2015, 6/9/2014, 4...
Ship Date        [11/11/2016, 6/16/2016, 10/18/2015, 6/14/2014,...
Ship Mode        [Second Class, Standard Class, First Class, Sa...
Customer ID      [CG-12520, DV-13045, SO-20335, BH-11710, AA-10...
Customer Name    [Claire Gute, Darrin Van Huff, Sean O'Donnell,...
Segment                         [Consumer, Corporate, Home Office]
Country                                            [United States]
City             [Henderson, Los Angeles, Fort Lauderdale, Conc...
State            [Kentucky, California, Florida, North Carolina...
Postal Code      [42420, 90036, 33311, 90032, 28027, 98103, 761...
Region                                [South, West, Central, East]
Product ID       [FUR-BO-10001798, FUR-CH-10000454, OFF-LA-1000...
Category                  [Furniture, Office Supplies, Technology]
Sub-Category     [Bookcases, Chairs, Labels, Tables, Storage, F...
Product Name     [Bush Somerset Collection Bookcase, Hon Deluxe...
Sales            [261.96, 731.94, 14.62, 957.5775, 22.368, 48.8...
Quantity           [2, 3, 5, 7, 4, 6, 9, 1, 8, 14, 11, 13, 10, 12]
Discount         [0.0, 0.45, 0.2, 0.8, 0.3, 0.5, 0.7, 0.6, 0.32...
Profit           [41.9136, 219.582, 6.8714, -383.031, 2.5164, 1...
dtype: object

### Dropping Unneccessary Columns 
- It is evident that, column Country shows us that all orders come from the same country which is the United States, and keeping this column won't result in any insights, so we'll drop it. 
- We will also drop column Postal Code, because it only displays the code of postal, and doesnt provide any details for further analysis

In [51]:
# drop Country column 
df= df.drop( columns= ['Country','Postal Code'], axis=1)

In [52]:
# print out basic information of the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Region         9994 non-null   object
 11  Product ID     9994 non-null   object
 12  Category       9994 non-null   object
 13  Sub-Category   9994 non-null   object
 14  Product Name   9994 non-null   object
 15  Sales          9994 non-null   float64
 16  Quantity       9994 non-null   int64
 17  Discount       9994 non-null   float64
 18  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(14)
memory usage: 1.4+ MB

### Data Type Transformation
- Order Date, Ship Date is a string, which doesnt allow the extraction of month, or day, to conduct real-time analysis. Therefore, we will transform it to date/ time object in pandas

In [53]:
# transform Order Date, and Ship Date To Date/Time Object
df['Order Date']= pd.to_datetime(df['Order Date'])
df['Ship Date']= pd.to_datetime(df['Ship Date'])

### Data Quality Check

In [54]:
missing_value= df.isnull().sum()
duplicate_value= df.duplicated().sum()
print('Missing Value: ', missing_value)
print('Duplicate Value: ', duplicate_value)

Missing Value:  Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
City             0
State            0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64
Duplicate Value:  0

### Statistical Summary

In [55]:
df.describe()

,Row ID,Order Date,Ship Date,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,623.245101,2.225110,0.206452,234.260108

In [62]:
# number distinct orders 
distinct_orders= df['Order ID'].unique()
print(len(distinct_orders))

5009

### Data Excecutive Summary
### Order Quality Insight: 
- The average number of items sold is nearly 4, and the highest number of items sold per order is 14
- Most of orders are small, as the 75th percentile of us is 5, and the standard deviation is small, showing there isnt many orders with large number of items sold 
=> High-quanity orders may come from 
### Sales Performance 

### Benefit- Discount Insight 
### Ship Date- Order Date 
### Distinct Number Of Order

### Recommendations

### Data Visualization

In [ ]:
# bar plot

In [ ]:
# bar chart

In [ ]:
# scatter plot

In [ ]:
# correlation matrix

### Key Metric Calculation

In [61]:
# number distinct orders 
distinct_orders= df['Order ID'].unique()
print(len(distinct_orders))

5009

In [ ]:
# profit margin

In [ ]:
# average delivery day

### Loss Analysis

### Sale-To-Loss Ration

### Real-time Sales Performance Analysis

### Customer Demographic Analysis

In [ ]:
# times when different segment of customer like to buy

In [ ]:
# favorite products per segments